/* variable*/
:root {
    --primario: red;
    --secundario: black;
    --blanco: white;
    --gris:rgb(0, 0, 0, .5);
}

@font-face {
    font-family: grotesk;
    src: url(/fonts/Grotesk-03Regular.woff);
}

/* globales*/
html {
    background-color: var(--secundario);
    color: var(--blanco);
    font-size: 62.5%;
    box-sizing: border-box; /*hack para model box*/
    scroll-snap-type: y mandatory;
}

/* scroll snap*/

.servicios, 
.nav-main,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: grotesk;
    font-size: 16px;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.sombra {
    -webkit-box-shadow: 0px 4px 25px 15px rgba(252, 8, 8, 0.75);
    -moz-box-shadow: 0px 4px 25px 15px rgba(252, 8, 8, 0.75);
    box-shadow: 0px 4px 25px 15px rgba(252, 8, 8, 0.75);
    background-color: rgba(83, 83, 83, 0.5);
    padding: 2rem;
    border-radius: 2rem;

}

.boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;

}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
img {
    width: 50%;
}

/* tipografia */
h1 {
    font-size: 3.8rem;
    /*1 rem = 10px¨*/
    color: var(--primario);
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}
/* utilidades*/
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

/*navegacion principal*/

.nav-bg {
    background-color: var(--primario);
}

.nav-main {
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
    .nav-main {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-main a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.nav-main a:hover {
    background-color: var(--secundario);
}

/* hero*/

.hero {
    background-image: url(/images/soprano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    text-align: center;
    position: relative;
    /*este va primero--padre*/
    margin-bottom: 4rem;
}

@media (min-width: 375px) {
    .hero {
        height: 45rem;
    }
}

@media (min-width: 390px) {
    .hero {
        height: 60rem;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 90rem;
    }
}

@media (min-width: 1140px) {
    .hero {
        height: 65rem;
    }
}

@media (min-width: 1440px) {
    .hero {
        height: 80rem;
    }
}

.contenido-hero {
    position: absolute;
    /*este va despues*/
    background-color:var(--gris);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


/*servicios*/
.servicios {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3 {
    color: var(--primario);
}
.servicio p{
    line-height: 2;
    font-weight: normal;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 678px) {
    .servicios{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*contacto*/

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* utilizar el valor mas pequeño */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;  
    }

}
.campo{
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 15rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* footer*/
.footer{
    text-align: center;
}

