@font-face {
    font-family: grotesk;
    src: url(/fonts/Grotesk-03Regular.woff);
}
@font-face {
    font-family: hangul;
    src: url(/fonts/vtf_hngl-webfont.ttf);
}
body{
    font-family: hangul;
    font-size: 25px;
}
h1{
    font-family: grotesk;
    text-align: center;
    color: red;
}
img{
    width: 50%;
}